[2014-12-29 04:32] dtracers opened #6 "Binary messages?"
I could not find anything about it supporting binary messages.  Does this library support mocking of binary messages?

[2015-01-07 23:26] thoov commented on #6
@dtracers right now there is no native support for binary messages but it will be on of the next things I work on adding.

[2015-02-13 04:48] yratanov opened #8 "Ember test support."
Hi, thank you for the lib.
I tried to use it in my Ember qunit acceptance tests and faced error with Ember run loop.
You can't use ```setTimout``` in ember tests without wrapping it with promise object or using ```Ember.run.later```.

I understand the lib is supposed to be used not only in Ember environment, but can we include RSVP promises and wrap delay code with it or should I just fork it?

[2015-02-13 05:11] thoov commented on #8
@yratanov I am using this in [ember-websockets](https://github.com/thoov/ember-websockets) and not running into this issue. If you are able to come up with a fix submit a PR and I will happily merge it in or if you could give me more info / a jsbin to look at I can try to come up with a fix.

[2015-02-13 05:15] yratanov commented on #8
@thoov add some async logic in your callbacks (e.g. ```onmessage```), for example push in the store.

[2015-02-16 07:51] thoov commented on #8
@yratanov Are you working on a fork or should work on adding RSVP?

[2015-02-16 07:59] thoov opened #9 "Update url parsing"
Currently the url parsing is done with a ["hack"](https://github.com/thoov/mock-socket/blob/master/src/helpers/url-transform.js). This should be done be either a 3rd party library or w/ something like `new URL('testing.com')`

[2015-02-16 09:52] yratanov commented on #8
@thoov I can do it. You don't mind if I add RSVP lib?

[2015-02-17 18:53] #8 closed

[2015-02-18 23:05] Ghirigoro opened #10 "Can't run on Nodejs due to dependency on document"
the urlTransform function uses the global document variable which doesn't exist in Nodejs.

[2015-02-19 01:12] thoov commented on #10
Thanks @Ghirigoro for the feedback. I am currently working on a solution for this #9. I hope to have a solution soon.

[2015-02-19 14:18] yratanov opened #11 "Ember cli addon"
Hello, I have created small wrapper for ember-cli: https://github.com/yratanov/ember-cli-mock-socket.

You can mention it in the Readme.md if you like it.

Thanks.

[2015-02-19 22:41] #9 closed

[2015-02-19 22:43] thoov commented on #10
@Ghirigoro I have updated the url parsing logic and updated the npm & bower packages to v0.1.0 with those changes. Could you try it out on nodejs and see if it fixes your case?

[2015-02-19 22:43] #10 closed

[2015-02-20 03:06] Ghirigoro commented on #10
Works great now! Thanks.

[2015-02-20 23:02] #11 closed

[2015-02-20 23:02] thoov commented on #11
@yratanov I added it to the readme. Thanks!

[2015-02-22 00:05] Ghirigoro opened #13 "Sockets send messages multiple times"
I'm running into a problem while testing in Node. The server seems to receive more messages than are sent. It gets as many copies of a message as there are sockets connected. So if you have 3 sockets connected the server will receive 3 copies of every message. Below is a Mocha test case I wrote to find the issue in case it helps.

describe('MockSocket', function() {
		it ('server should only recei

[2015-02-24 06:34] thoov commented on #13
@Ghirigoro Thanks for the issue. Let me take a look at it tomorrow and see if I can come up with a fix.

[2015-02-25 06:20] thoov commented on #13
@Ghirigoro I believe that I have fixed the issue that you reported. I have pushed an update (v0.1.1) so update and see if it fixes your case.

[2015-02-25 06:20] #13 closed

[2015-02-25 17:36] thoov opened #15 "Error out when you create mulitple mock servers with the same url"

[2015-03-11 23:38] samselikoff opened #17 "socket.io"
Does this work with socket.io? I've read somewhere that socket.io doesn't use standard websocket protocol

[2015-03-12 06:55] thoov commented on #17
Hi @samselikoff. Unfortunately it does not currently support socket.io and you are right about socket.io not supporting the WebSocket spec. From (http://socket.io/blog/introducing-socket-io-1-0) "... Engine.IO that implements a **WebSocket-like** API". For some background, this library was build for my other project [ember-websockets](https://github.com/thoov/ember-websockets) and there I recommen

[2015-03-12 12:04] samselikoff commented on #17
I see - thanks for the quick response!

If I wanted to take a stab at this, how would I start? Would I need to replace io.Socket (rather than window.Websocket)? I spent some time the other day trying to intercept the HTTP responses Socket.IO makes to establish the initial connection, but I couldn't get it working.

[2015-03-12 15:32] Ghirigoro opened #18 "Multiple sockets share connection"
If you create multiple sockets pointing to the same server they will all share a single connection (i.e. when one is connected they all are, when a message is sent to one they all receive it, etc.)

NOTE: I ran into this running mocha tests in Node.

[2015-03-12 15:41] Ghirigoro opened #19 "MockServer events"
It looks like MockServer is intended to emulate the WebSocketServer from ws. One difference though is that ws passes in strings rather than objects on socket events. For example:

socket_server.on('connection', function(socket) {
	socket.on('message', function (message) {
		// using ws message is a string containing the event data
                // using MockServer message is an event object
	});

[2015-03-13 05:13] thoov commented on #19
@Ghirigoro Great catch and yes I would like MockServer to match WS's behavior. I will send an update fixing this.

[2015-03-13 05:14] thoov commented on #18
@Ghirigoro thanks for finding this. let me look into it and send an update.

[2015-03-13 05:47] thoov commented on #17
Websockets in the browser works like this:

You create a websocket instance via:

[code]

Here the `WebSocket` object does all the special stuff connecting to the backend and also handles how communication is handled from the client to the server and vise versa. This is done through the onopen, onmessage, onclose, and onerror methods. ie:

[code]

On the server you would most likely have something

[2015-03-13 13:03] samselikoff commented on #17
Excellent - thanks so much for the details response! Hopefully I'll have some time to dig into this soon. Would be great to get this working, as socket.io is still a super popular ws lib.

[2015-03-13 17:40] thoov commented on #17
In my [ember-websockets project](https://github.com/thoov/ember-websockets/issues/23) I am looking to add Socket.IO support. If I do then I would most likely upgrade this library to support it *but* this is still in the idea stage and probably wont be ready in the short term.

[2015-04-30 11:53] nicholasjstock commented on #18
[code]
console output
[code]

[2015-05-13 08:31] vlizard commented on #18
@nicholasjstock I find console output in your example quite correct. All clients connected to the same server should receive the message that server sends into connection. You didn't specify the client you want to send you message to, so all of them receive it.

[2015-05-13 13:05] Ghirigoro commented on #18
@vlizard The code that was posted is not broadcasting, so it's not correct. Those messages are being sent to a specific socket (i.e. ws.send("msgSSS") is sending a message through ws, not to all clients).

[2015-05-15 21:04] samselikoff opened #26 "Named messages"
We use socket.io and we name our events. It looks like this lib uses `message` for each event name - is this a ws/standards thing? Is it possible to name an event?

For example if my mock server did this

[code]

my socket.io client code should be able to do this

[code]

[2015-05-15 23:17] thoov commented on #26
@samselikoff It shouldn't be to hard to support this. I was hoping this would be added in this PR #23

[2015-06-05 05:25] cades commented on #6
+1

[2015-06-05 17:01] thoov commented on #6
@cades or @dtracers do you have any examples I could use as a test case? If so I will be able to add support quickly

[2015-06-05 17:14] dtracers commented on #6
I use protobuf.js.

So a good example test might be sending a hello world protobuf file via
binary.

I don't think I'll be able to come up with one until this weekend.  And
maybe not even then.
On Jun 5, 2015 11:01 AM, "Travis Hoover" <notifications@github.com> wrote:

[2015-06-25 21:09] thoov opened #31 "Move to BabelJS and BroccoliJS"
This will allow for ES2015 JS

[2015-06-26 19:20] thoov opened #34 "Change how MockServer and MockSocket communicate between each other"
Right now there is heavy reliance on globals and the need for an intermediary service object. The first step is to get away from globals then come up with a cleaner, more robust form of communication.

[2015-06-26 19:21] #19 closed

[2015-06-26 21:49] thoov opened #35 "Move away from url-transform and into uri.js"
Or into another url library that is brought in via package.json instead of just a file in src

[2015-06-27 00:24] #31 closed

[2015-07-07 11:55] vlizard opened #37 "Tests don't test the code properly"
Since introducing babelJS to the repo, dist files are built with `"use strict"` directive inside, which is definitely good. Test bundle doesn't include it because of [this line](https://github.com/thoov/mock-socket/blob/master/Brocfile.js#L50). That means that tests are executed in non-strict mode while the actual code will be running in strict mode.

It'd be good to somehow solve the issue with q

[2015-07-08 17:23] #37 closed

[2015-07-13 17:36] thoov opened #40 "Clean up Brocfile"
Right now the [Brocfile.js](https://github.com/thoov/mock-socket/blob/aa9a688c231080470c5b308547070c42ba9d19c4/Brocfile.js) is not dry and needs an easier way to add 3rd party files.

[2015-07-14 06:43] #40 closed

[2015-07-14 06:43] #35 closed

[2015-07-21 14:47] rehia opened #45 "MockServer close event"
Hi,

I was trying to implement a reconnection strategy when the websocket is not cleanly closed.
But it appears that the event returned when subscribing to `MockSocket.onclose` is not compatible with the standard `CloseEvent` https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent.
Some data are missing like code, reason and wasClean.

It would be interesting to get them.
What do you think abo

[2015-07-21 14:49] rehia commented on #45
Ah, s**t, just found Issue #29...
Sorry...

[2015-07-21 14:49] #45 closed

[2015-07-26 20:13] saulshanabrook opened #46 "Can't Import From ES6"
I am trying to import your library like this:

[code]

However when I run this through webpack I get an error:

[code]

I am able to import other JS libraries fine. Any ideas?

[2015-07-26 20:22] saulshanabrook commented on #46
I realized I can use `import 'mock-socket/dist/mock-socket'` instead.

Is it impossible to import es6 `.js` files from a npm installed package, with webpack?

[2015-07-27 23:16] #15 closed

[2015-07-27 23:16] #34 closed

[2015-07-27 23:24] thoov commented on #46
Thanks for the issue @saulshanabrook. You can import the individual JS files you will just need to have a es6 to es5 transpiler (such as [babel](https://babeljs.io/)) sit right before the webpack step. You can see how I do it in broccoli:

First I run babel over all of my files:
https://github.com/thoov/mock-socket/blob/a625630c430a0f5ea78c8b1da7521d49e587223d/Brocfile.js#L36

Then I send them to

[2015-07-27 23:40] saulshanabrook commented on #46
Thanks for the response @thoov. The thing is, I have babel set up and it works right on all my local files. I have webpack set up to use babel for all .js files.

[2015-07-27 23:51] thoov commented on #46
Can you paste in the "bundler" file so I can see how you are preparing the files for babel?

[2015-07-28 14:53] saulshanabrook commented on #46
`webpack.config.js`:

[code]

`config/loadersByExtensions.js`:

[code]

`config/booleanFromEnv.js`:

[code]

[2015-07-28 17:20] thoov opened #48 "Get jshint rules to run during tests"

[2015-07-28 17:21] thoov opened #49 "Code coverage"

[2015-07-28 21:27] #48 closed

[2015-09-01 18:02] thoov opened #52 "Remove dist directory from source and have travis ci do the publishing"
http://docs.travis-ci.com/user/deployment/npm/

[2015-09-03 00:04] thoov commented on #17
I am closing this as #50 has been merged. It would be great if people could try using v 0.8.0 with socket.io so we can see if there are any bugs

[2015-09-03 00:04] #17 closed

[2015-09-20 11:51] ydaniv opened #53 "How to migrate from 0.4 to 0.8?"
I have tests using Intern and Chai that run with 0.4.1 but upgrading to any other version fails badly.

Specifically, in 0.8.0, all WS connections fail.

Couldn't find this covered anywhere.

Thanks for the great work!

[2015-09-21 18:17] thoov commented on #53
@ydaniv Sorry to hear that 0.8 isn't working for you. Do you happen to have any code snippets to share so I can take a look?

[2015-09-21 18:24] ydaniv commented on #53
Sure! Take a look at tests of [Backbone.WS](https://github.com/ydaniv/backbone-ws). Install dev deps via npm, update mock-socket to 0.8 and run tests.

[2015-09-28 08:44] ydaniv commented on #53
ping > @thoov, does that help? too much work? any way I can help you help me?

[2015-09-29 05:00] thoov commented on #53
@ydaniv Sorry for the delay. Yes that helps and I am able to reproduce the error on my side. Let me take a look at this tomorrow and see if I cant find whats going wrong

[2015-09-29 05:34] ydaniv commented on #53
:+1:

[2015-09-30 18:58] thoov commented on #53
@ydaniv So I was able to track down the issue and it seems like there is a timing problem within the tests. I have updated mock-sockets to 0.8.1 which will help you out. If you get that version and comment out 3 tests: test destroy, construct with retries, test reopen all tests will pass. I believe there are more timing problems but I am not as familiar with your testing environment to dig much fa

[2015-10-01 19:16] rileytg opened #56 "punycode not found"
Error: Cannot find module './punycode' from '/Users/rileytg/code/logview/node_modules/mock-socket/dist'

[2015-10-02 15:19] ydaniv commented on #53
Thanks @thoov! I got your update and removed the `construct with retries` and `test reopen` tests. The `test destroy` did have a timing issue which I fixed.

The problem with the other 2 seems to be related to calling `server.close()`. This seems to kill all subsequent tests. Any idea?

[2015-10-02 15:30] thoov commented on #53
@ydaniv Yes calling `server.close()` will cause the behavior that you are seeing. Normally I would suggest moving the code found here: https://github.com/ydaniv/backbone-ws/blob/master/tests/mocks.js#L4-L28 to your beforeEach: https://github.com/ydaniv/backbone-ws/blob/master/tests/unit/construction.js#L22 (if you do that then in your afterEach you will want to call `server.close()`). That way you

[2015-10-02 15:34] ydaniv commented on #53
Cool! Let me test that and get back to you. What woud `server.restart()` desugar to?

[2015-10-02 16:26] ydaniv commented on #53
OK, I see now, the problem is that in 0.4 it would only close connections but now you're removing the server from listening on the given URL so all subsequent connections will fail.

Perhaps a restart is not necessary, what I really need for testing purposes is to simulate a connection being abruptly terminated from server side. Is that possible now?

[2015-10-05 13:55] hakib opened #57 "Is it possible to mock connection timeout ?"
Is it possible to delay a message by X ms ? specifically the connect message in my case.

I'm trying to test timeouts in some RPC implementation using web sockets. The specific scenario i'm trying to test is the app opening a websocket connection, hitting some internal timeout, notifying the user and setting state to disconnected, then the ws onconnect is invoked in wich case i'm just closing the

[2015-10-07 16:07] ydaniv commented on #53
wOOt!

I've updated and followed your advice regarding server restart in `afterEach` and it works like a charm.

This had 2 interesting consequences:

1. I was forced to continue flow from the `onopen` handler or else things break. Which is great!
2. I've discovered that when the client sends a message a reply is sent synchronously back, which I think shouldn't be the required behavior. Shouldn't

[2015-10-07 17:19] thoov commented on #57
@hakib Right now it is not possible. Let me add something to allow you to do this. This is what I have in mind:

[code]

Would this work for you?

[2015-10-07 17:31] thoov commented on #56
@rileytg Sorry for the delay getting back to you. How are you importing the library?

[2015-10-07 18:41] hakib commented on #57
Thanks @thoov. This looks promising so I ran a little test,

[code]

Output was consistent around 4-5 ms which is the delay you are using internaly.

Am I misunderstanding the `connection_delay` or `on('connection'...`) ?

[2015-10-28 16:34] ashchurova opened #58 "Question about using MockServer"
Hi, I am trying to use your library to mock web socket server in my unit tests. I run my tests in Chrome. Unfortunately "mocking" does not happen for me. I do create the instance of MockServer with correct url but when the code I test tries to open WebSocket I get an exception "WebSocket connection to 'ws://127.0.0.1:8585/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED". I

[2015-11-16 14:51] nomve commented on #56
Hi,

I also have this problem when I try to do `require('mock-socket')` in my code. I can load the bundle in the browser and there I'll have window.MockWebSocket etc. but I'm not sure how to import mock-socket and use the mock objects in a test and run it in PhantomJS. The only thing that crossed my mind is to import the individual files, but I can't do that right now because it's an older project

[2015-11-16 19:56] benedictchen opened #59 "Unable to import `require('mock-socket')`"
`require('mock-socket')`

{}

undefined

undefined

{}

TypeError: MockServer is not a function
    at repl:1:14
    at REPLServer.defaultEval (repl.js:248:27)
    at bound (domain.js:280:14)
    at REPLServer.runBound [as eval] (domain.js:293:12)
    at REPLServer.<anonymous> (repl.js:412:12)
    at emitOne (events.js:82:20)
    at REPLServer.emit (events.js:169:7)
    at REPLServer.Interface._on

[2015-11-17 11:40] nomve commented on #56
To answer my own question, I loaded the bundle in the browser (in my case through Karma) and have the modules available as globals. As far as I can tell, there is no way to require a MockWebSocket etc. in this way.

[2015-11-17 11:43] nomve commented on #6
I don't know if something changed in the meantime, but this works:

[code]

[2015-11-23 16:39] nomve opened #61 "Unit tests breaking in Firefox"
Hi,

my unit tests are breaking in Firefox every time there is something depending on a a message being received from the MockServer. I thought I messed something up in my code, but after checking in more detail, realized out even your unit tests break in firefox, e.g.

[code]

I've figured out it's because in `createMessageEvent` the `messageEvent.type` property gets lost and then no listeners ar

[2015-11-25 21:31] adirhaleli commented on #61
I'm having failing tests in Firefox too

[2015-11-28 01:24] thoov commented on #61
thanks for finding this. I will investigate

[2015-12-21 00:08] johntimothybailey opened #62 "Missing `off` method on MockSocketIO client"
### Deciding How to Implement `off`
I noticed that the MockSocketIO is missing the method `off`. I went to implement my own to do a _PR_ then noticed a design decision was made for `on`. Basically, `on` wraps the callback to handle the case where MessageEvent is used versus a raw object

Thus, the wrapper prevents us from easily being able to implement `off` because the reference is not the same a

[2015-12-21 00:50] johntimothybailey commented on #62
I noticed the wrapper is also causing a bug

``
socket.on("update",function(){ console.log(1) });
socket.on("update",function(){ console.log(2) });
``

only 1 will be called when .to is invoked because of the following

``
     // Only add the same function once
      if (filter(this.listeners[type], item => item.toString() === listener.toString()).length === 0) {
        this.listeners[type].push

[2015-12-21 03:35] johntimothybailey opened #63 "BUG: MockSockIO `on` only adds one handler per event type"
### Description
Basically, `on` wraps the callback supplied to handle the case where MessageEvent is used versus a raw object.

Code Comment

This creates a __bug__ where there is only ever one handler possible per event type and it never warns you of this failure.

Additionally, this `on` wrapper prevents us from removing handlers because the function is unknown.

### Reproduce

See test in Pull

[2015-12-21 03:42] #63 closed

[2015-12-21 03:42] johntimothybailey commented on #63
Duplicate creation

[2015-12-21 03:45] johntimothybailey commented on #62
If Issue 64's Pull Request is merged, then I can easily implement `off`

[2015-12-22 02:42] johntimothybailey commented on #13
@thoov There is in an interesting implication with this ticket and the equality checks of functions via `.toString()`

## What I found
I discovered that this bug report and the corresponding test have a potential bug in it that implies there was something broken to begin with. The test actually adds two event listener instances. Each time the 'connection' handler is called (which is twice) it crea

[2015-12-22 02:51] johntimothybailey commented on #13
@thoov From what I can tell the fix should be to check **reference equality** instead of the string representation.

Reference Equality
[code]

vs

String Equality
[code]

Given

[code]

[2015-12-22 07:51] #52 closed

[2015-12-22 07:52] #49 closed

[2015-12-22 08:44] thoov commented on #59
This is now supported. check the readme

[2015-12-22 08:44] #59 closed

[2015-12-23 02:27] johntimothybailey opened #67 "Question: Where did dist go (v1.0.4)?"
@thoov Probably for good reasons, but where did dist go?  I `bower install --save-dev mock-socket` and upgraded to 1.0.4 only to discover that the referenced `"main": "dist/mock-socket.js",` in `bower.json` doesn't exist.

[2015-12-24 08:23] thoov commented on #67
@johntimothybailey I was never a fan of the dist files being checked into git so I finally got around to having [travis-ci auto building and deploying the dist files to npm](https://github.com/thoov/mock-socket/blob/master/.travis.yml#L15-L24). However, as you pointed out this breaks bower as bower simply looks at the repo and doesn't give me an opportunity to do any preprocessing (unless I am mis

[2016-01-05 00:03] oliverwilkie commented on #67
Not entirely sure how I could use mock-socket in my Ember CLI tests without bower?

[2016-01-05 00:28] thoov commented on #67
@oliverwilkie I just added back the dist files so bower install should work again. Let me know if you run into any issue with the bower install flow.

[2016-01-13 00:55] thoov commented on #46
[code]

Now works

[2016-01-13 00:55] #46 closed

[2016-01-13 01:20] #61 closed

[2016-01-13 09:00] nomve commented on #61
Thanks :+1:

[2016-02-11 18:32] mnibecker opened #71 "Run mock-socket with jsdom"
I ran into a pretty odd issue using this (great) library in conjunction with jsdom. When you use jsdom you override `global.window` with a window obj provided by jsdom. This is causing issues with mock-socket because it looks for the `Event` class in window, and jsdom provides a partially implemented version of `Event` that does implement the same signature that we find in the standard browser eve

[2016-02-12 22:37] thoov commented on #71
@mnibecker Thanks for finding this! What version of mock-sockets are you currently using?

[2016-02-16 17:40] mnibecker commented on #71
I'm using version 1.0.6

[2016-02-16 18:57] thoov commented on #71
@mnibecker Can you try with 2.0.0? I changed the eventing system and that might solve your problem.

[2016-02-16 19:03] mnibecker commented on #71
cool, I'll try it out shortly and post my results here.

[2016-02-17 20:04] mnibecker commented on #71
Nice this seems to work with 2.0.0! Closing issue...

[2016-02-17 20:04] #71 closed

[2016-02-17 22:09] thoov commented on #71
@mnibecker thanks for checking!

[2016-02-24 19:48] brian-mann opened #72 "server.on("connection", ...) returns the server instance instead of the client socket instance"
Per this library it doesn't seem possible to simulate socket.io clients emitting events.

I can only emit events from the server.

[code]

In my code, I attach event listeners to the socket which connected, and I'm trying to simulate those. Is this possible using another method?

[2016-02-29 07:36] badazz91 opened #73 "Error: Could not find module `mock-socket` imported from `(require)`"
Just tried to use this lib in my ember-test environment. I simply installed it with npm.

Importing it like this:

[code]

Or like this:

[code]

Results in the same error:

[code]

Am I doing something wrong?

[2016-02-29 19:24] thoov commented on #73
@badazz91 If you are using it within ember then you will need to install it via bower.

[code]

Then in your ember-cli-build.js add:

https://github.com/thoov/ember-websockets/blob/master/ember-cli-build.js#L17

Let me know if this works for you.

[2016-02-29 20:25] thoov commented on #72
@brian-mann Sorry for the delay in getting back to you on this and thanks for opening the issue. Could you attach the test that you are trying to write so I can use that as a test case?

[2016-02-29 21:41] mnibecker opened #74 "Closing `server` sets `websocket.readyState` to `undefined`"
For version 2.0.0:

If you call `server.close()` somehow `websocket.readyState`gets set to undefined. `readyState` should be set to 3 or `WebSocket.CLOSED`.

I write a little mocha test to verify this bug:

[code]

[2016-02-29 22:33] mnibecker opened #76 "setTimeout on websocket close handler"
I'm sure this reasoning could apply to other areas in the code base... but it seems if you want `websocket` to mimic its real life counterpart, all the functionaliy inside `websocket.close()` should happen behind a `setTimeout` call.

Currently I'm writing a test verify that the readyState on the websocket is set to `CLOSING` immediately after I invoke `websocket.close`. Because `websocket.close`

[2016-03-01 06:35] badazz91 commented on #73
No luck so far. Installed it via bower and included it in the ember-cli-build.js like this:

[code]

Yet the import in my test file stil fails... Am I missing something?

[2016-03-02 06:45] badazz91 commented on #73
If included in the ```ember-cli-build.js``` you can simply access it like this:

[code]

Sorry for not reading the documentation more thoroughly ;-)

[2016-03-02 22:13] thoov commented on #73
@badazz91 Glad you were able to get it installed!

[2016-03-02 22:13] #73 closed

[2016-06-21 15:03] #58 closed

[2016-06-28 22:03] rocketedaway opened #81 "Emit function parameters (Client and Server) do not mirror Socket.io API"
Hi @thoov,

I have been using your library at work for unit testing a Socket.io based application we are making. I have contributed to the library in [Issue #79](https://github.com/thoov/mock-socket/pull/79) in order to add some missing functionality we needed in our app.

When running tests I am running into an issue were the API for mock-socket's emit function is not aligned with Socket.io's emi

[2016-07-02 18:43] thoov commented on #81
@rocketedaway Sorry for the delay in getting back to you. Thanks for finding this. I will update emit to support multiple data args. I should have this done over this weekend.

[2016-07-04 16:46] rocketedaway commented on #81
Thanks @thoov. I appreciate the quick turnaround!

[2016-07-06 05:54] thoov commented on #81
@rocketedaway I was playing around with an example and didn't see the behavior that you are describing. Main that [emit](https://github.com/socketio/socket.io/#socketemitnamestring-socket) was not respecting additional parameters like:
[code]

Could you create a simple example that shows what you are explaining?

[2016-07-07 17:22] rocketedaway commented on #81
@thoov I will do this later this week. Should I just post it in here?

[2016-07-07 19:30] rocketedaway commented on #81
[code]

[2016-07-09 06:26] thoov commented on #81
Ok let me test against this example

[2016-07-13 09:31] Avien opened #83 "serverLookup on network-bridge does not find the server according to the given url"
I am expecting the on message handler I attach to the server to be fired when the websocket sends any message, and it doesnt

After debugging I found that the websocket.js does not find the server to dispatch the event
Please help

![image](https://cloud.githubusercontent.com/assets/4569044/16798583/74132028-48f5-11e6-9566-5d486c4f1d68.png)

Of course the url is the same in the server.js and webso

[2016-07-13 09:51] Avien commented on #83
My mistake forget it
I was stopping the server in the afterEach block and it was removing it from the urlMap

[2016-07-25 18:45] rocketedaway commented on #81
Hey @thoov any luck reproducing the issue?

[2016-07-29 05:04] thoov commented on #81
@rocketedaway Sorry for the delay. I just got married so its been crazy the last couple of weeks with that.

I ran the example code that you provided and was able to see the same results as you pointed out. However, I created this example:

**index.html**
[code]

**server.js**
[code]

On both the server and client I just see 'foo' which it appears socket.io is just taking the first argument. This

[2016-08-02 17:08] rocketedaway commented on #81
@thoov Congrats on getting married!! It's a crazy and fun day :)

Okay based on your example you are only printing the first argument. To access all the data being returned by the emit callback in your example you would have to do the following:

[code]

Following are code examples to see this in action:

**client.js**
[code]

**server.js**
[code]

The above console logs the following from the ser

[2016-08-03 07:56] thoov commented on #81
@rocketedaway Thank you!! Now I see what you are saying (and able to reproduce it). I just updated master with some changes that should support this. Can you install:

[code]

And see if this works for you?

[2016-08-03 16:11] rocketedaway commented on #81
@thoov Thanks! I will do this today and get back to you.

[2016-08-03 18:40] rocketedaway commented on #81
@thoov Looks good! I tested it with our unit tests and it works as expected.

Thanks!

[2016-08-03 19:42] thoov commented on #81
Awesome. I just published v4.0.0 which has the change. Thanks for working through this with me!

[2016-08-03 19:42] #81 closed

[2016-08-04 17:28] rocketedaway commented on #81
Hi @thoov,

The `dist` files in the package downloaded from `npm` and the github repo are not compiled against the new source. When I tested it before the version was updated I built it locally first.

Sorry!

[2016-08-04 17:34] thoov commented on #81
@rocketedaway Oops. I just added them to 4.0.1. Try that version

[2016-08-04 17:38] rocketedaway commented on #81
@thoov It's working now. Thanks for the quick turnaround, I really appreciate it! Have a good one.

[2016-09-05 08:12] Foxhoundn opened #99 "server.close() does not work??"
`describe.only('Websockets store handlers', () => {
  let store;

  beforeEach(() => {
    store = createStore(ws,
      applyMiddleware(
        thunk,
        promise,
      )
    );
  });

  it('connects the websocket', () => {
    const server = new Server('ws://qorus.example.com/log/main');

    store.subscribe(() => {
      const { data } = store.getState();

      expect(data).to.eql({

[2016-09-05 15:01] Foxhoundn commented on #99
Sorry, It's actually server.stop(), but that doesn't really matter since that one does not work either :)

[2016-09-06 20:04] thoov commented on #99
@Foxhoundn Thanks for finding this. Let me dig into it and see what is happening

[2016-09-06 20:29] thoov commented on #99
Because I don't have access to your store/actions its going to be hard for me to debug. Are you able to create a simpler example of this bug without hitting a store?

[2016-11-02 17:17] greenkeeper[bot] opened #124 "An in-range update of nyc is breaking the build 🚨"
## Version **8.4.0** of [nyc](https://github.com/istanbuljs/nyc) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/mock-socket/compare/greenkeeper%2Fnyc-8.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2016-11-03 11:51] greenkeeper[bot] opened #125 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.1.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/mock-socket/compare/greenkeeper%2Feslint-plugin-import-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2016-11-04 18:49] austinknight opened #126 "Any way to simulate a server error?"
I'm wanting to test that something for websocket.onerror, what would I need to do in the mocked server to invoke this on the websocket?

[2016-11-04 20:13] #124 closed

[2016-11-04 20:13] #125 closed

[2016-11-04 20:43] thoov commented on #126
Right now the only way to trigger the onerror is by trying to connect to an invalid or closed connection. Something like this:

[code]

If you are looking for something on the server to manually trigger an error like so:

[code]

I can add the functionality. Just let me know.

[2016-11-04 22:02] austinknight commented on #126
Yes, the second example is what I am talking about. Adding a triggerError method on the server mock would be awesome!

[2016-11-16 20:56] rlamorea opened #133 "bower install mock-socket not working"
When I do `bower install --save-dev mock-socket` for version `^6.0.1`
There is no `mock-socket.js` (or `mock-socket.min.js`) file anywhere
in the installed source.

I can see the file in the GitHub repo, but for whatever reason, it does not
show up when installed by bower.

[2016-11-18 06:08] thoov commented on #133
Can you try installing now. I updated to 6.0.3 which in mock-socket/dist/mock-socket.js should be the file that you need.

[2016-11-18 06:32] rlamorea commented on #133
Yes, using 6.0.3 worked.  Thanks!

[2016-11-18 06:32] #133 closed

[2016-11-29 15:19] funkjunky opened #140 "js:babel-register doesn't seem to this code. I get an error with default arguments"
constructor(url, options = {}) {

Unexpected token =

Even if I use the require method, it's still es6 and still errors.

I'm running mocha via:
mocha --require babel-polyfill --compilers js:babel-register

[2016-11-30 03:26] abramz commented on #140
I was able to get 5.0.1 (last version before 6) working w/o a problem

[2016-11-30 06:23] thoov commented on #140
Let me take a look into this and see if I can reproduce it.

[2016-11-30 07:26] thoov commented on #140
@funkjunky @abramz What version of node are you guys using?

[2016-11-30 07:27] abramz commented on #140
I am using `v4.6.2`

[2016-11-30 08:33] thoov commented on #140
Found the error. I forgot to publish versions 6.0.2 & 6.0.3 which contained the fix for this issue. I just published version 6.0.3 to npm. Can you install that version and see if it works for you. Thanks!

[2016-11-30 08:33] #140 closed

[2016-12-09 07:35] stevenxxiu opened #143 "re-assigning onclose does not get rid of the old event listener"
re-assigning the following to a `WebSocket` instance does not remove the old event listener, which is not the case for real sockets

      onopen
      onmessage
      onclose
      onerror

Example code would be:

    let ws = new WebSocket('ws://localhost:8080')
    ws.onclose = () => console.log('listener 1')
    ws.onclose = () => console.log('listener 2')

In a browser only listener 2 would b

[2016-12-09 08:02] stevenxxiu commented on #143
Here's an (ugly) work-around for now:

    let dispatchEvent = WebSocket.prototype.dispatchEvent
    WebSocket.prototype.addEventListener = function(event, listener){this.listeners[event] = listener}
    WebSocket.prototype.dispatchEvent = function(event, ...customArguments) {
      let res = false
      let listener = this.listeners[event.type]
      if(listener){
        this.listeners[event.typ

[2016-12-09 08:27] stevenxxiu opened #144 "Don't send data/close instantly"
Real servers don't send data or close instantly to the client, can there be an option to introduce a delay?

[2016-12-09 08:44] stevenxxiu commented on #126
@thoov I don't think the first is triggered even when using websockets instead of socket io. A way to do this would be great!

[2016-12-09 08:57] stevenxxiu commented on #144
Probably not needed since the I can just have the server send at the time the client should receive it.

[2016-12-09 08:57] #144 closed

[2017-01-15 05:17] dustinfarris commented on #58
what was the solution to this?

[2017-02-14 16:44] lindyhopchris opened #152 "Problem using with your Ember addon"
Hi!

In your (very useful) Ember addon you do the following:
https://github.com/thoov/ember-websockets/blob/master/addon/services/socket-io.js#L10-L11

[code]

However the mock socket io in this library doesn't have a `connect` function. So assigning `SocketIO` to `window.io` results in the above lines failing.

Or am I missing something?!

[2017-02-15 09:27] greenkeeper[bot] opened #153 "An in-range update of babel-loader is breaking the build 🚨"
## Version **6.3.1** of [babel-loader](https://github.com/babel/babel-loader) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/mock-socket/compare/greenkeeper%2Fbabel-loader-6.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-loader
    </td>
  </tr>
  <tr>
    <th align

[2017-03-03 23:35] greenkeeper[bot] opened #154 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.1.1** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/mock-socket/compare/greenkeeper%2Feslint-config-airbnb-base-11.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-config-airbnb-bas

[2017-03-04 15:41] greenkeeper[bot] opened #155 "An in-range update of cross-env is breaking the build 🚨"
## Version **3.2.0** of [cross-env](https://github.com/kentcdodds/cross-env) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/mock-socket/compare/greenkeeper%2Fcross-env-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cross-env
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-14 03:29] wangtao0101 opened #157 "websocket onmessage fired before onopen"
` mockServer.on('connection', () => {
            mockServer.send('test message');
        });`

[2017-04-14 18:43] klebba opened #158 "v6.0.4 repository tag is missing"
`package.json` is at 6.0.4:

https://github.com/thoov/mock-socket/blob/master/package.json

However there is no 6.0.4 tag pushed to the repo.

[2017-04-14 19:54] thoov commented on #158
Thanks for noticing this. I just published the 6.0.4 tag (https://github.com/thoov/mock-socket/releases/tag/6.0.4)

[2017-04-14 19:54] #158 closed

[2017-04-28 10:39] publicJorn opened #159 "Timeout on failing test"
When my assertion fails, it seems the test gets stuck and never handles `done`.

[code]

If I change the assertion to `expect(status).toEqual('ok')` it passes as expected, and the second `console.log` does get logged.

Btw, I'm using Jest

[2017-04-29 08:13] publicJorn commented on #159
After some digging around I found that this is because [Jest's expect throws on error](https://github.com/facebook/jest/issues/1873#issuecomment-275916518)

In order to let the above test work one needs to wrap the assertion in a try-catch statement:

[code]

It all gets a bit verbose, so I'll probably write a little util for this.

[2017-04-29 08:13] #159 closed

[2017-04-30 05:56] publicJorn commented on #159
For anyone interested, I settled for this pattern:

Util function **mockIO**:
[code]

The **test**:
[code]

[2017-05-13 09:31] publicJorn opened #160 "Socket doesn't have to function"
When creating a socket instance, we can't call `socket.to` directly, because it doesn't exist.
Also, there's no support for chaining `.to()` calls.

I have already written code to fix this, will do a pull-request.

[2017-05-16 06:28] colwilson commented on #18
Here's a failing test around the broadcast example at https://github.com/websockets/ws#broadcast-example. It throws:

[code]

[code]

[2017-05-17 06:44] #160 closed

[2017-05-17 07:19] #155 closed

[2017-05-17 07:19] #154 closed

[2017-05-17 07:19] #153 closed

[2017-05-22 07:40] nicolas-maurice commented on #157
+1

[2017-05-23 05:20] #157 closed

[2017-05-23 05:23] thoov commented on #160
This has been released in version 6.1.0

[2017-05-23 05:23] thoov commented on #157
@wangtao0101 @nicolas-maurice A fix for this is in version 6.1.0. Could you test out and see if that works for you?

[2017-05-23 15:07] nicolas-maurice commented on #157
Everything good for me ! Thanks guys !!

[2017-05-30 19:34] michielbdejong opened #166 "Was there a breaking change in 6.1?"
The unit tests of one of our projects, which depend on mock-socket, spontaneously stopped passing:
[code]

We have [fixed the issue](https://github.com/interledgerjs/ilp-plugin-bells/pull/131/files) for our project, and I don't know what changed between 6.0 and 6.1, but this does suggest that according to semver, 6.1 should have been a major version, not a minor?

Thought I'd give you a heads-up.

[2017-05-30 21:36] thoov commented on #166
Sorry for the breakage @michielbdejong and thanks for the heads up. The only changes between 6.0.4 and 6.1 are listed here (https://github.com/thoov/mock-socket/releases/tag/6.1.0) but if I had to guess you probably ran against this change (https://github.com/thoov/mock-socket/pull/165) which was fixing this issue (https://github.com/thoov/mock-socket/issues/157). The reason for why I did minor up

[2017-05-30 21:36] #166 closed

[2017-06-20 21:44] georgeedwards opened #169 "Not compatible with angular 2+"
I am trying to unit test an angular service in my application, which creates socket.io client. My service looks something like this:

    export class SocketService {
      private name: string;
      private host: string = window.location.protocol + "//" + window.location.hostname + ":3000";
      socket: io.Socket;

      constructor() { }

      subscribeEvent(name: string): Observable<IJobResp

[2017-06-21 02:06] ebaker commented on #169
+1 also running into the same issue

[2017-06-21 09:56] georgeedwards commented on #169
Additionally If I try to just use async, I get this:

[code]
This doesn't seem to work, I get error: `Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.`

[2017-06-26 19:47] thoov commented on #169
@ebaker @georgeedwards Thanks for bringing this up. Are either of you able to create a sample repo that I can debug against so I can see what is going on?

[2017-06-26 21:11] georgeedwards commented on #169
@thoov Thanks for getting back to us. Please see [this](https://github.com/georgeedwards/mocksocketdemo). I have tried to keep this as close to the docs suggestions.

1. `yarn install` or ` npm i`
2. `ng test`

[2017-06-26 21:13] thoov commented on #169
Thanks @georgeedwards. I will take a look at that shortly and report back with what I find (and hopefully a solution or fix)

[2017-06-27 04:20] thoov commented on #169
Ok so I figured out what was going on in the sample repo that you sent me @georgeedwards. The issue is that the window object is not properly being stubbed out. This line (https://github.com/georgeedwards/mocksocketdemo/blob/master/src/app/socket-demo.service.ts#L13) is never being swapped out with the MockSocketIO object. Basically you need to do something like this:

[code]

Let me know if you n

[2017-06-27 08:47] georgeedwards commented on #169
@thoov OK, thanks for finding that!
Would be really nice to not have to change the code you are trying to test. Having separate logic specifically for testing always makes me slightly nervous, but it's a good work around 👍

[2017-06-27 08:47] #169 closed

[2017-06-27 21:23] thoov commented on #169
@georgeedwards 100% agree. Im going to continue to think about your use case and see if I can come up with a better solution. I will post it here if I do

[2017-07-10 14:44] georgeedwards commented on #169
@thoov Awesome, thanks.

One other issue I am facing is how to run multiple tests with different server configurations, I currently have this:

[code]

but get error:

Any idea where this is going wrong?

[2017-07-15 09:19] georgeedwards commented on #169
@thoov any idea on how to run multiple consecutive tests with different servers, as shown above?

[2017-07-17 21:17] thoov commented on #169
Hi @georgeedwards. Sorry for the delay, I am currently in Europe so don't have a ton of laptop time. There are a few things it might be but first can you verify that `mockServer.stop();` is called in the first test? The second thing is that could you verify that if you comment out the first test the second one passes and if you comment out the second test the first one passes?

[2017-07-21 13:44] yodaddyp opened #170 "Client socket doesn't have off method"
Firstly, thanks a lot for your work mocking socket.io. I think I have found a little issue; my tests are failing as the client socket does not have the `off` method:
[code]

According to the [socket.io docs](https://socket.io/docs/client-api/#socket-emit-eventname-args-ack), client sockets should be able to stop listening to events using this method.

[2017-07-23 22:10] millerf opened #172 "Could not import on Angular 4/ES6"
When importing your module, I get this error:
TS7016: Could not find a declaration file for module 'mock-socket'.

I have found the solution here:
https://stackoverflow.com/questions/41292559/could-not-find-a-declaration-file-for-module-module-name-path-to-module-nam

It seems '.js' needs to be removed from package.json.

Also, I had to use npm to install instead of yarn, but yarn was yielding the

[2017-07-25 08:18] #170 closed

[2017-07-25 08:19] thoov commented on #172
@millerf Thanks for finding this out. Will fix shortly

[2017-07-25 08:20] millerf commented on #172
Thanks. Do you want me to make a PR?

[2017-07-26 16:07] thoov commented on #172
@millerf Yes that would be great!

[2017-07-26 16:34] #172 closed

[2017-08-09 00:18] mtitolo opened #174 "MockServer not working"
**Tl;DR** the Mock Server isn't working. I've reproduced in a sample project: https://github.com/mtitolo/test-mock-websockets

I've tried this on node 7 and node 8. I'm using version 7.0.0 of the library on macOS 10.12.6. I've tried using different names for "localhost" (127.0.0.1 is the one in the sample), and nada. The mock socket doesn't open.

I've tried debugging myself. The issue does not se

[2017-08-09 18:28] mtitolo commented on #174
More digging!

[code]

The console will have `Starting mock server` but not `found a global websocket object`. Now to figure out _why_.

[2017-08-09 21:16] thoov commented on #174
Hi @mtitolo. Sorry for the delay. I have been without internet for the last week and the struggle has been real :-). Also sorry you are running into this issue and thank you for creating that sample repo. I believe I know what is going on. The short story is that the ws websocket is not being correctly mocked. This is currently something that this project doesn't have a great story around but I am

[2017-08-10 21:04] #174 closed

[2017-08-18 02:00] jacinto123 opened #175 "Pass Header Information"
Is it possible to pass header information?

[2017-08-25 16:10] jpobley opened #176 "setTimeout in jest"
This isn't really an issue with the library as it is a tip about usage, but I wasn't sure where else to put it. This library is awesome :)

## The Setup
* macOSX Sierra 10.12.6
* node v7.10.0
* React app via `create-react-app` (which includes `jest` testing framework)
* jest v21.0.0-beta.1

## The Problem
The mock server wasn't firing the handler registered with `mockServer.on('connection', ...)`,

[2017-09-05 09:10] Parcley opened #177 "no type delcaration file"
when importing mock-socket into a typescript application, which has noImplicitAny checks turned on, the compile will fail:

tested with mock-socket@7.0.0 and typescript@2.5.2:
[code]

maybe we could use https://github.com/tbekolay/types-mock-socket as a first draft for a .d.ts file of mock-socket?

[2017-09-11 04:16] hktonylee opened #178 "The onerror/onclose/... event handlers of websocket does not mock correctly"
In a normal DOM object calling `this.addEventListener('error', ...)` does not affect `this.onerror` and vice versa. However in this mock library they affect each other and this certainly break the contract of using DOM EventTarget.

Please fix this because many libraries rely on this behaviour to work correctly. Please advice if I can submit a pull request about this breaking changes but make it m

[2017-10-02 19:17] roddolf commented on #143
One should also be posible to assign for example `null` to remove the listener.

[2017-10-04 07:09] Umayalmuthupalaniappan opened #179 "Mock-socket in typescript is causing error"
Hi ,

I am using the mock-socket library to test the socket communication in my typescript app. I use karma for testing. I have the following test case where I mock the socket server

import { SocketIO, Server } from 'mock-socket';
it('should get message', done => {
        let mockServer = new Server('http://localhost:8000');
        mockServer.on('connection', socket => {
            socket.emit

[2017-10-05 12:22] ws-hofshteyn opened #180 "Ionic 3: No provider for String!"
Hi there! Trying use ` mock-socket ` in my Ionic 3 app. But after installing (via npm) and importing it into the spec file I have following error in terminal:

`  Failed: No provider for String!
    _throwOrNull@webpack:///~/@angular/core/@angular/core.es5.js:2772:0 <- src/test.ts:3052:45
    _getByKeyDefault@webpack:///~/@angular/core/@angular/core.es5.js:2811:0 <- src/test.ts:3091:37
    _getByK

[2017-10-06 12:35] ws-hofshteyn commented on #180
Problem was in my app, not in package.

[2017-10-06 18:05] thoov commented on #180
@ws-hofshteyn Glad you found the root cause. Let me know if you run into anything else

[2017-10-06 18:05] #180 closed

[2017-10-30 09:41] shahar-h opened #181 "sub protocols support"
When passing sub protocols (second parameter) to WebSocket constructor I don't see them  on server object that I get in connection event callback. Is this a bug or it is just not supported?

[2017-11-01 15:41] KevinBeckers commented on #169
Any news?

[2017-11-10 12:09] TimMurnaghan commented on #126
@thoov I guess that triggerError never happened?
Sorry to add a "me too", but this is an important function of a mock library. I want to exercise the error handling of my client code (which, given the way developers think, is often broken). And it's definitely your second case. I don't want an invalid endpoint - it should be valid - but causing errors in some cases.

Should I do it and make a pull

[2017-11-12 04:34] #126 closed

[2017-11-12 04:39] thoov commented on #126
@TimMurnaghan Thanks for reminding me. Just published 7.1.0 where you can call `server.simulate('error');`. Here is the PR: #184

[2017-11-22 13:50] n1ru4l commented on #178
For me those callbacks are not triggered when calling `mockServer.stop()`.

[2017-11-29 14:31] nilsi commented on #71
Hi,

I still have a problem with running this in conjunction with jsdom. I need jsdom to access `window.location.protocol` and `window.location.host` to construct WebSocket URL but if I add it I'm getting `ReferenceError: WebSocket is not defined` and if I remove jsdom I'm getting `ReferenceError: WebSocket is not defined`. Not sure how to proceed.

[2017-11-29 18:46] thoov commented on #71
@nilsi I will take a look into this. Do you have an example that shows it not working that you could paste here?

[2017-12-05 10:13] loispostula commented on #57
@thoov Is this solution present now? can't seem to make it work

[2017-12-11 16:01] thoov commented on #181
Doing cleanup on these issues: This has been added in this PR: https://github.com/thoov/mock-socket/pull/183

[2017-12-11 16:01] #181 closed

[2017-12-11 17:36] thoov commented on #71
@nilsi I added an example that works in JSDOM here (https://github.com/thoov/mock-socket/pull/191/files). If you are still running into issues could you open another issue

[2018-02-13 18:54] thomblake opened #193 "Latest release?"
For some reason the latest release on Github is 6.1.0 but the latest release on npm is 7.1.0. Which is actually the latest?

[2018-02-15 00:04] thoov commented on #193
v7.1.0 is the latest. I forgot to do a release which I have done now (https://github.com/thoov/mock-socket/releases/tag/7.1.0)

[2018-02-15 00:04] #193 closed

[2018-02-15 00:39] thomblake commented on #193
Thanks!

[2018-03-02 16:37] lukepierotti opened #199 "Correct usage?"
Hi, so I'm having a little trouble getting everything set up for my tests and was wondering if you could help. I am using Vue 2.5.2 with a library vue-socket.io for my client side websocket connection. My code for a base test to see if everything work looks like this.

[code]
Based on your examples in the README.md it seems like this is the correct way to set it up, but my test is failing. For som

[2018-03-05 18:22] #143 closed

[2018-03-05 18:37] davidturissini opened #201 "Mock SocketIO does not retain protocol"
`IO.connect` accepts a second `protocol` argument when creating a socket instance. It appears that `mock SocketIO` implementation allows for a protocol, but the `mocked IO` function does not pass it along. Also, `mock SocketIO` expects protocol to be a string or array but an object is an acceptable input so I think that can be fixed also.

Repro:
[code]

[2018-03-06 08:03] #201 closed

[2018-03-06 23:05] alexlafroscia opened #203 "`readystate` constants should also be set on WebSocket instance"
I've got some code I'm dealing with that looks at `.OPEN` on an instance of a `WebSocket` object to read the constants that represent the different `readystate` values.  In the native implementation, both the class _and_ the instances have this value set.

<img width="238" alt="screen shot 2018-03-06 at 3 02 43 pm" src="https://user-images.githubusercontent.com/1645881/37063819-8a52ecb8-214f-11e8-

[2018-03-06 23:08] alexlafroscia commented on #203
It was a trivial enough change that I went ahead and made a PR even if it's not something you want to accept.

[2018-03-13 18:02] #203 closed

[2018-03-17 14:14] lgandecki commented on #72
This is still true, and for WebSocket as well. To be able to work with apollo  subscriptions-transport-ws  ( https://github.com/apollographql/subscriptions-transport-ws/pull/374 ) I've created a hacky fork ( https://github.com/thoov/mock-socket/compare/master...lgandecki:master ) for now, since it looks like you are rewriting this significantly I didn't think it was worth adding tests around it (a

[2018-03-23 14:26] olareoun opened #205 "cannot emit a single array argument"
This is the situation:

[code]

[2018-03-27 13:26] jregele commented on #199
I'm having the same issue. Vue 2.5.2 and vue-socket.io 2.1.1

[2018-03-31 09:24] jregele commented on #199
I refactored my code so that I didn't need the sockets for the unit tests. But I did notice $sockets.io in the debugger, which could be the window.io that needs to be assigned to SocketIO for this library to work

[2018-04-06 10:48] Hughp135 opened #206 "How to spy on socket.emit function in tests"
I want to make an assertion that the 'emit' function was called on the socket in my jasmine test.

I've tried spying on the client's instance of socket, but when the client connects to the mock server, it creates a new instance so the spy no longer applies.

Because the SocketIO class is not exported, I'm struggling to figure out how to spy on the prototype 'emit' function in the class SocketIO fo

[2018-04-07 04:25] PabloReszczynski opened #207 "Support for Phoenix Socket?"
Is there a way to use this library to mock a Phoenix server?

[2018-04-11 10:32] dubbeglas opened #208 "No callback invocation if connection attempt failed"
Focus on the different port numbers. In Chrome the onerror callback is called if no connection is established.

`import { Server, SocketIO } from 'mock-socket';

it('should invoke the onerror callback', done => {
    let mockServer = new Server('http://localhost:8000');
    let errorReceived: boolean;

    mockServer.on('connection', x => {
        x.emit('message', true);
    });

    (window as

[2018-04-13 09:20] ghost opened #209 "All sockets receive the sent message"
I cannot send a message to a single web socket by id. Emit(...) sends the message to all connected web sockets (broadcast).

[2018-04-26 15:49] dinfer commented on #177
How it's going?

[2018-05-27 22:12] turnerhayes opened #211 "emit error message incorrect"
If you try to call `emit()` on a `Server` before the connection is established, it throws an error saying `'SocketIO is already in CLOSING or CLOSED state'`. It makes sense to throw an error, but the fact is that it's not actually in `CLOSING` or `CLOSED` state, it's in `CONNECTING` state. The error message should either state that it's in `CONNECTING, CLOSING or CLOSED` state, or, better yet, sta

[2018-06-20 18:48] hervispichardo commented on #72
Any updates on this?

[2018-06-22 14:45] pronebird commented on #209
Same issue here.

1. `send` simply emits a message to everyone, useless if I have to test multiple clients.

2. `server.on` does not filter by clients either so it's pointless at best or requires a lot of noise in code in order to make it work.

[2018-06-22 15:12] pronebird opened #212 "Event.data is not serialized to String"
Websocket does not automatically serialize/deserialize data, so it has to be a string or blog/arraybuffer. `Server.send` happily accepts anything and propagates it to Websocket, which is wrong so it should check for type and throw an `Error`.

[2018-06-29 00:42] PabloReszczynski commented on #207
Had some time investigating and it's really complex to simulate distincts channels, the reply system and the error system.

[2018-06-29 06:42] thoov commented on #207
@KHMtravel I don't have any experience with Phoenix so I cant offer much help. I know they are using mock-socket for their tests which you might be able to get some insights from by looking at those (https://github.com/phoenixframework/phoenix/blob/2bfc3ed17f0c1c7e9a23d97ffaf366ec5d935d25/assets/test/socket_test.js). I am open to any PRs that would be make supporting phoenix possible/easier. I am

[2018-06-29 06:42] #207 closed

[2018-06-29 19:56] thoov commented on #212
Thanks for opening this. I have pushed a change for this and I will do a release with it shortly

[2018-06-29 19:56] #212 closed

[2018-07-01 06:34] #72 closed

[2018-07-01 06:39] thoov commented on #209
This has now been fixed and will be included in the 8.x series that will be released shortly

[2018-07-01 06:39] #209 closed

[2018-07-02 15:32] ahmadov opened #215 "Support query paremeter arguments on URL."

[2018-07-05 19:23] thoov commented on #177
I have added a first pass of a definition file (https://github.com/thoov/mock-socket/commit/d5d4eeb54c0a9af2031d74e3bbb9113bb46bb23f). I don't use typescript for my project so if you run into any inconsistencies please open an issue.

[2018-07-05 19:23] #177 closed

[2018-07-11 14:44] tijp opened #221 "Wrong TypeScript definition for .on() method"
Hi,

When using the example from the docs, I get the following TypeScript error:

<img width="752" alt="screen shot 2018-07-11 at 16 27 41" src="https://user-images.githubusercontent.com/9055401/42578863-648bbf96-8527-11e8-9014-6a768473c977.png">

This is because the `.on` method uses VoidFunction in its TypeScript definition, which implies that there are no parameters (but there is, the socket pa

[2018-07-11 15:32] haplesshero13 commented on #221
Same problem here. This is preventing us from using mock-socket in TypeScript. We either have to override the typings ourselves, or create a .js test instead. Neither of those seems like a great option.

[2018-07-12 02:08] #221 closed

[2018-07-12 06:09] tijp commented on #221
Thanks for the quick fix!

[2018-07-24 14:16] rolandjitsu opened #224 "TypeScript types do not reflect the current API"
There seems to be a bit of confusion when using the API. According to the samples in readme:

[code]

But when using in a TS env, the `socket.on()` does not exist. And it kind of makes sense since the socket is actually a `WebSocket` and it does not have that method.

But if I cast the socket to any and try the example it actually works. So that's a bit confusing and it will currently not work in

[2018-07-24 20:37] jameswlane commented on #224
The types are also missing `SocketIO` from the `.d.ts` file.

`Error:(1, 18) TS2305: Module ''mock-socket'' has no exported member 'SocketIO'.`

[2018-08-13 13:17] AmirF27 opened #226 "A few types can't be found"
I'm getting an error on the `EventHandlerNonNull` and `BinaryType` types.

[code]

I already have the `dom` library defined in my `tsconfig.json` file, and this is where those types seem to be be.

I'm using version 8.0.2.

How can this be resolved? I have tried many things, to no avail.

[2018-08-15 13:45] spkellydev opened #227 "How to best write a test with Typescript?"
I'm using Jest as my test runner. I cannot seem to get around the Jest.setTimeout nightmare. This is the closest I've gotten to a passing test

[code]

[2018-08-17 20:10] daveschwerstein commented on #226
I am having the same issue.

[2018-08-20 14:39] lolmaus opened #228 "Cannot read NODE_ENV of undefined"
Hi!

[Here](https://github.com/thoov/mock-socket/blob/master/src/helpers/logger.js#L3) the code is accessing:
* `process`
* `process.env.NODE_ENV `

It works because `process` is normally undefined in browser, and `process` under Node always has the `env` property.

One of our other dependencies mocks `process` in browser, but it doesn't provide `process.env`. As a result, the the linked line of c

[2018-08-20 14:43] lolmaus commented on #228
Credit for discovering the issue: @vvainio.

[2018-08-24 12:11] guilhermechiara commented on #226
Same problem here. Trying to figure out what's exactly happening.

[2018-09-18 13:58] benplummer commented on #226
Anyone found a solution or work-around to this?

[2018-09-24 07:47] dcharbonnier opened #233 "onmessage should use a data property"
ws.onmessage take directly the message data, like on("message") but it should be a message event with a data property

[2018-10-12 08:50] quentinus95 opened #235 "Cannot find name 'USVString'."
Hi,

I'm getting a `Cannot find name 'USVString'.` when trying to use this lib using TypeScript.

in

[code]

My tsconfig.json is:

[code]

(generated by Vue CLI)

[2018-10-12 08:53] quentinus95 commented on #235
Looks like I don't have any bug when using a require instead of an import:

[code]

works

whereas

[code]

does not

[2018-10-19 16:58] nlaplante commented on #235
Same here, Typescript 3.1.3

[2018-10-21 16:16] ekuiter commented on #235
As a workaround, it's possible to override the type definitions by placing the following in `src/node_modules/mock-socket/index.d.ts` (assuming src is the main application source):

[code]

See https://stackoverflow.com/a/50794250/1692231.

[2018-10-30 06:28] thoov commented on #235
This should be fixed in 8.0.5

[2018-10-30 06:28] #235 closed

[2018-11-06 11:48] odyzxc commented on #226
Same issue here.

[2018-12-03 18:43] juangl opened #242 "Event handler getters should return a single function"
Right now, event handler's (like `onopen`, and `onerror`) getters should return a single function instead of the present behavior where they return an array. I haven't gone through the spec but that's what the browser does. If that sounds correct I'm happy to send a PR.

[2018-12-21 16:07] Townsheriff commented on #226
Missing typings are added in Typescript 2.8. Update typescript in project or add missing typings from https://github.com/Microsoft/TypeScript/blob/release-2.9/lib/lib.dom.d.ts

[2019-01-07 22:19] aligg commented on #215
Hey - we also ran into this issue today (cc @viggyfresh). If this is the case, it would at least be helpful to have this documented somewhere! Took us quite a bit of debugging and digging to figure out why things weren't working. Thanks!

[2019-01-09 09:07] Chalisi opened #245 "Socket.IO Emit args serialized to string"
Hello,

While fixing [this issue](https://github.com/thoov/mock-socket/issues/212) about Websocket `send` argument only accepting string, ArrayBuffer or Blob, you broke `emit` Socket.IO API.
Socket.IO `emit`  function accept any number of arguments and any type compare to Websocket.

Thanks

[2019-01-11 09:06] Chalisi commented on #206
I didn't try to spy the emit function but in the test I listen to the event emited and put a mock in the callback. Then when the emit is done I check if the mock has been called:

    const openSocketServer = (eventsToListen) => new Promise((resolve) => {

        const mockServer = new Server(fakeURL, {
            forceNew: true,
            reconnection: false
        })

        mockServer.on(

[2019-01-11 09:16] Chalisi commented on #205
Before upgrading to version 8.0.5 It 'worked' by doubling the array

    mockServer.emit('surveys', [[
        { id: 1, name: 'Survey 1' },
        { id: 2, name: 'Survey 2' },
        { id: 3, name: 'Survey 3' }
    ]])

But now with #212 fix, the socket.io emit is broken and it serializes everything to string.

[2019-01-11 09:21] Chalisi commented on #99
In the meantime I found that force a new connection avoid this issue. But if one test fail all the following tests will trigger this `Error: A mock server is already listening on this url` error.

    new Server('socketioserverurl', {
         forceNew: true,
         reconnection: false
    })

Is it possible that the problem is due to reconnection activated by default?

[2019-01-14 16:33] doeg commented on #176
Thank you so much for this example. I found it really helpful.

I think there's a small typo:

[code]

[2019-01-14 17:22] jpobley commented on #176
Oh, good catch! I also found another typo as I read through it.

[2019-01-16 15:17] apatryda-instapage commented on #245
:+1: , Please fix this :pray:

[2019-02-13 07:55] AmirF27 opened #248 "WebSocket connection failure should have a non-normal close code"
At the moment, when a WebSocket connection fails, the normal closure close code is being passed to `onclose` callback. It should be a non-normal closure close code.

One of our tests actually tests this scenario by attempting to connect to a server that's not online. So we depend on the close code being non-normal, and the fact that it's normal is breaking the test. For now I managed to find a wor

[2019-02-26 09:54] DemianTinkiel commented on #179
I had the same problem, suppressing the TS error with    ` // @ts-ignore` above the `.on` part allows it to run (and works fine)
e.g
[code]
Obviously this is a workaround and not a solution. Perhaps the types incorrectly defined?

[2019-03-01 14:56] pronebird commented on #224
I receive a lot of:

This is terrible.

[2019-03-05 10:20] StephaneGcrd opened #250 "Websocket readyState set to undefined"
https://github.com/thoov/mock-socket/blob/48a9464f85a6661f08885ba744f5de69aead331d/src/server.js#L104

There is a problem on closing the WebSocket from `server.close()` which set the `readyState` of the WebSocket to `undefined`

`socket.readyState = WebSocket.CLOSED` instead of `CLOSE` as stated on #75

[2019-03-06 14:42] edi9999 opened #251 "Listen on multiple routes"
Currently I think it is only possible to listen on one ws url.

For example :

[code]

I personally want to listen to multiple paths, but without changing the server itself.

This could be achieved with regexes, for example :

[code]

[2019-03-17 01:03] pascal0002 opened #252 "Can't import SocketIO"
import { Server, SocketIO } from "mock-socket";
Gives Error: Module '"mock-socket"' has no exported member 'SocketIO'.ts(2305)

[2019-03-25 02:38] TimurKiyivinski commented on #224
The PR #254 should have fixed this, but we would need the package to be published to make use of it. I am currently using [patch-package](https://github.com/ds300/patch-package) to patch the `index.d.ts` file.

@thoov could this be done :smile: ?

[2019-03-27 02:36] #227 closed

[2019-03-27 12:25] shaiksyedali opened #255 "Not able to mock WebSocket class form ws npm module using mock-socket"
I am using ws npm module for WebSocket communication.

For Unit testing, I am trying to use mock-socket to mock some of the websocket calls.

When I try to mock a websocket instance like this,

[code]

The createStream methods takes an instance of WebSocket object as one of its parameter.

When I do this, typescript is returning a compiler error,
[code]

What is the issue here?

[2019-04-06 22:03] G-Rath opened #256 "`Server#on` 'close' event gives server instead of socket"
The TypeScript definitions for `Server` has this for `on`:

[code]

However, when writing a test for `jest-websocket-mock` I found that this isn't the case for the `close` callback:

[code]

[code]

It seems that the `Server` is passed on `close`, rather than the `Client`.

Either the `Server` or typings should be updated :)

[2019-04-27 09:11] fr3fou opened #257 "Is there any way to pass an existing socket.io instance to mock-socket?"
So I'm sorta new to testing and I still haven't wrapped my head around mocks very much..

Right now I have a class which uses a library called `socket-controllers`.
It allows you to write `socket.io` events using decorators.
Here's my example class:
[code]

And in order to attach all of those class methods you pass an existing `socket.io` instance to the library, like this:

[code]

And so basical

[2019-06-02 11:16] rijnhard opened #259 "Recording/Replay support"
Before I go figuring out how to do this myself, is there any known way of recording and replaying responses? Like polly.js.

I'm thinking of trying to give it a bash of writing a polly.js adapter and using this for the replay side of things

[2019-06-13 13:46] dcrystalj opened #263 "Cypress"
Does it work with cypress?
I was not able to make it work within cypress env.

[2019-06-24 11:35] marcospassos opened #266 "Undefined WebSocket.bufferedAmount"
The `WebSocket.bufferedAmount` should not be undefined but zero:

[code]

[2019-06-24 11:39] marcospassos opened #267 "WebSocket.readyState is open after closing connection"
The `WebSocket.readyState` is still open after closing the connection:

[code]

[2019-07-12 14:59] taylorjdawson commented on #58
Getting the same error.

[2019-07-19 13:37] sechel commented on #251
Good idea: We have a scenario where we connect to the same server with different sets of query parameters. Cannot do this atm with mock-socket.

[2019-07-24 09:15] sechel commented on #215
This can be closed now that #271 is merged.

[2019-07-24 09:16] sechel commented on #259
http://reactivex.io/ is your friend.

[2019-07-26 09:23] rijnhard commented on #259
@sechel thanks for the unhelpful opinion.
Not to be ungrateful, but jumping into something like reactivex is no simple task, nor do I think should be undertaken half-heartedly.

An example would have gone a log way to prove the contrary.

[2019-07-26 11:06] sechel commented on #259
Hey @rijnhard, here is an example:

[code]

When a new socket connects it subscribes to the `ReplaySubject` which in turn dispatches all messages that have been queued so far to the socket. On `close` we unsubscribe from the socket. A new message can be published by either calling `publish` or by sending a message via any of the socket connections.

[2019-07-31 06:48] milen-yordanov commented on #245
This issue breaks my usage case. I still have to use the last unaffected version 7.1.0. Please fix.

[2019-08-19 07:08] mornir commented on #263
Does this help?
[code]
source: https://github.com/cypress-io/cypress/issues/2492

[2019-08-21 14:42] pablobirukov opened #274 "WebSocket connected with query params won't send a message"
With https://github.com/thoov/mock-socket/pull/271, `"message"` handler is never triggered if a WS had query params

[code]

That's because in WS' `send` handler lookup performed for the full URL, that includes query part `const server = networkBridge.serverLookup(this.url);`

[2019-08-28 21:26] SephVelut opened #277 "Question: simulate delay of connection"
I would like to test if that a client cannot send data to the server until it opens. Is there a way to sequence `attemptConnection` -> `open` -> `send`? Then can I have the client attempt to send data in-between `attemptConnection` and `open` and see if it gracefully handles this.  Or less ideally, slip a delay somewhere?

Note, the event `connection` is not what I'm looking for. I'm trying to tes

[2019-09-02 18:08] unadlib opened #278 "Mock not working in the case of url with parameters"
When the url is 'ws://localhost:8080/?foo=bar', it does not work.

[code]

[2019-09-05 12:34] pablobirukov commented on #278
Duplicates https://github.com/thoov/mock-socket/issues/274, and there is a fix https://github.com/thoov/mock-socket/pull/275

[2019-09-05 16:29] unadlib commented on #278
Thank you.

[2019-09-05 16:30] #278 closed

[2019-09-14 12:41] sechel commented on #274
Hey @pablobirukov, thank you for your report. Your code looks ok. #271 was about making this very use case possible, so I will check.

[2019-09-19 16:22] sechel commented on #274
Hey, @pablobirukov you are right. I think your #275 will do the trick. Thanks for checking. Unfortunately I cannot merge it myself, we will need to wait for @thoov to accept.

[2019-10-01 09:46] DemianTinkiel opened #279 "Add request history log"
I'd like a way to retrieve what the mock server received from the client, kind of what is done in [axios-mock-adapter](https://github.com/ctimmerm/axios-mock-adapter#history)

[2019-10-02 09:58] pdziewa opened #280 "Option to set connectionDelay"
Hi!

I want to test that my WebSocket implementation stops the connection, if it lasts longer then 5 seconds, and retry to connect.

It would be awesome to have the option of setting something like `connectionDelay`, as an array of times for each connection that tries to reconnect.

[code]
So for me, my implementation of WebSocket will not establish a connection for first connection due to a 6 sec

[2019-10-08 13:05] IcodeNet opened #284 "seems that project owner needs to remove git repository from the latest package..."
[13:55:19]npm ERR! code EISGIT
[13:55:19]npm ERR! path /opt/bin/teamcity-agent/work/45b9e691537cf913/node_modules/mock-socket
[13:55:19]npm ERR! git /opt/bin/teamcity-agent/work/45b9e691537cf913/node_modules/mock-socket: Appears to be a git repo or submodule.
[13:55:19]npm ERR! git     /opt/bin/teamcity-agent/work/45b9e691537cf913/node_modules/mock-socket
[13:55:19]npm ERR! git Refusing to remove

[2019-10-09 06:54] #284 closed

[2019-10-09 07:29] thoov commented on #284
@IcodeNet Thanks for the error report. v9.0.2 should have the fix

[2019-10-18 12:49] pablobirukov commented on #274
Any progress @thoov?

[2019-11-26 13:27] meriturva opened #287 "Error on close -> i guess it has to be clean = true"
I have a really simple stackblitz to reproduce issue:

https://stackblitz.com/edit/rxjs-qxerxt

You could see that we have two different rxjs tests, The first one we unsubscribe from WebSocket but we just receive a CloseEvent error with code = 0 and wasClean = false.

On the second example, we just don't unsubscribe from rxjs WebSocket subject so jasmine just goes in timeout error.

What i have to

[2019-12-03 21:30] tuzmusic commented on #99
I'm having a similar "already listening" problem, and I tried
[code]

and first typescript said those weren't valid keys, and when I `@ts-ignore` that error, I still have the same 'already listening' problem.

[2019-12-03 21:57] tuzmusic opened #288 "Unable to use in successive Cypress tests"
# Problem
I am trying to use `mock-sockets` with Cypress, setting up the mock in the `onBeforeLoad` hook for `cy.visit()` in my `beforeEach` block. I can get one test to work but when the mock setup runs on the next `beforeEach` I get an error that `A mock server is already listening on this url`.

## code under test:
(called from my React app's `componentDidiMount`)
[code]

## cypress tests
[code

[2019-12-06 07:55] septagram opened #289 "Socket.IO -- catching path on connection"
In Socket.IO, it's possible to specify the path when initializing socket:
[code]
However, when connecting to **mock-socket** server, this path is truncated:
[code]
For an application that employs multiple sockets on the same host but different paths, what can be done to allow the mock server to differentiate between different connections, or at least to only accept connections on given path?

[2019-12-24 00:04] Zarathustra2 commented on #274
Would be nice if #275  gets merged. I ran into the same issue.

[2019-12-24 07:48] #274 closed

[2020-01-07 13:04] raketenolli opened #291 "Mock-socket only usable from same script/application?"
This is more of a support question than an actual issue, if applicable please refer to the proper resources for asking this.

I mocked a websocket server similar to the one described in the "Usage" section of the readme.
[code]

If I add a `WebSocket` directly inside this file, it receives the messages. But if I create a second script
[code]
and start it just after launching the first one, I'd exp

[2020-01-07 18:17] DBosley opened #292 "Mocking 'ws' WebSocket, missing EventEmitter methods"
When using `mock-socket` to mock the WebSocket type from the `ws` module, there are missing methods. The WebSocket type from `ws` extends EventEmitter while the `mock-socket` implementation does not. The method that my project needs that's missing is `once()`. I'm not sure which other EventEmitter methods are missing, but I assume there are a few.

[2020-01-09 17:08] timshannon commented on #274
Is anyone else still having issues with this?  I've installed version 9.0.2, and I still can't mock websockets defined with query parms.

[2020-01-09 17:12] pablobirukov commented on #274
@timshannon it hasn't been released

[2020-01-09 17:13] thoov commented on #274
Can you try 9.0.3. I just released it

[2020-01-09 17:19] timshannon commented on #274
Still not working for me unless, I remove my query parms.

[2020-01-09 17:25] timshannon commented on #274
Works fine if I literally copy and paste the `trimQueryPartFromURL` func into my test and run it before I pass my URL into mock-socket.

[2020-01-09 17:28] timshannon commented on #274
I'm using `new Server` btw.  Maybe that wasn't covered by the PR.

[code]

[2020-01-09 17:31] timshannon commented on #274
Yeah I think *maybe* [attachServer](https://github.com/thoov/mock-socket/blob/master/src/network-bridge.js#L57) needs to also `trimQueryPartFromURL`?

[2020-01-10 11:41] tbuschto commented on #215
I think this is still an issue.  #271 only fixed `NetworkBridge.prototype.attachWebSocket` method, but my understanding of the code is that `serverLookup` needs a similar fix for the client to find the server.

[2020-01-27 20:12] timshannon commented on #274
Should I open a new issue?  This still doesn't seem to be fixed for me.

[2020-02-17 19:22] marcospassos commented on #57
Any news on this?

[2020-02-18 16:42] grishgrigoryan opened #293 "SocketIO is missing from declaration file"
SocketIo typings should be in declaration file

[2020-03-20 03:03] jgresham opened #294 "Namespaces"
https://socket.io/docs/#Restricting-yourself-to-a-namespace
https://socket.io/docs/rooms-and-namespaces/
https://socket.io/docs/server-api/#Namespace

Has anyone started on this? Does anyone have any recommendations on a design for this?

I may try to take this on soon.

[2020-03-21 20:47] jocull commented on #6
It seems to work as long as you consistently use `ArrayBuffer` and related views on both sides.

If you send a `Buffer` type from Node something seems to get crossed and an empty `ArrayBuffer` appears on the other side.

[code]

[2020-04-01 09:57] Pringels opened #295 "Client socket doesn't have hasListeners method"
Great work on this library. It saved my skin when I discovered that https://miragejs.com/ doesn't support websockets yet :)

This Issue is similar in nature to #170

According to the socket.io docs, client sockets should be able to query if a given event has actively registered listeners:

`The socket actually inherits every method of the Emitter class, like hasListeners, once or off (to remove an

[2020-04-03 15:46] gCardinal opened #297 "Emitting with object as payload converts the object to a string"
In a test, if I call `server.emit('an-event', {foo: 'bar'})`, the socket in my test will receive `[Object object]` as the payload. The exact code is below.

I am using the Socket.IO implementation and it allows objects to be given as arguments to `emit()` [as can be seen here](https://socket.io/docs/server-api/#socket-emit-eventName-%E2%80%A6args-ack). I would assume this library should also respe

[2020-04-03 15:54] gCardinal commented on #245
Just opened an issue with this same problem, #297. Didn't realize there was already an open one.

Could the PR be merged?

[2020-04-03 15:54] gCardinal commented on #297
Potentially fixed by #286.

[2020-04-07 20:12] regseb opened #298 "close listener of the socket isn't called when client close"
Hi,

When the client closes the connection, the `close` listener of the `socket` isn't called. In the following example, the output is:

[code]

[2020-04-20 16:16] builder7777 commented on #252
Any updates?

[2020-04-20 16:26] builder7777 opened #299 "has anyone found a workaround for using SocketIO?"
The documentation gives an example of using socketio, but using it throws an error:

`import { Server, SocketIO } from 'mock-socket';`

I realize this repo seems to have been abandoned, but does anyone have a usable workaround?

[2020-04-21 04:31] nmors commented on #299
the type defs are out of date, stick this in your code:

[code]

you can do better than just using `any`, if you want.

[2020-05-29 02:41] natusdrew opened #300 "ssl port 443 support"
I am testing PeerJS. And I ran into a problem where the script downgraded me from port 443/SSL to a regular ws port 8080. Is there a way for me to mock the server on wss, port 443? I can set port 443...

But I can't set it to wss...

const fakeURL = 'wss://localhost:443/peerjs?key=peerjs&id=1&token=testToken';
const mockServer = new Server(fakeURL);

[2020-06-20 21:14] erezcohen opened #301 "How to mock socket.io-client? window.io is not populated"
Hi Guys, I'm trying to test a react app which uses socket.io-client (with cypress).
I saw that the recommended approach is to set `window.io = SocketIO` however it seems like socket.io-client does not use this global var.
I saw that in #169 you recommended setting the mock in the production code however I wanted to know is it possible to mock without touching this code.
Thanks

[2020-07-19 12:29] theAndrewCline commented on #263
@sergiop Just make sure you are mocking both the client web socket with the mock socket library and the server. The WebSocket constructor used in the above example is imported from the mock socket library.

[2020-07-19 19:31] sergiop commented on #263
Thanks @theAndrewCline, I was forgetting the return statement 🤦‍♂️😁...

About the closing of the socket, I added a `.stop()` command. I don't know if it's graceful or not... but it works.

[code]

[2020-07-21 21:26] richardforjoe opened #303 "TS build error"
Hi, I seem to be getting the following errors in my typescript project.

"mock-socket": "^9.0.3",
"typescript": "^3.4.5",

node_modules/mock-socket/index.d.ts:8:46 - error TS2304: Cannot find name 'EventListenerOrEventListenerObject'.
8     addEventListener(type: string, listener: EventListenerOrEventListenerObject | null, options?: boolean | AddEventListenerOptions): void;
[code]
node_modules/moc

[2020-07-29 19:12] raxod502 commented on #291
My understanding is that no server is actually created, and instead the server and client are connected in-memory by doing string matching to see if the "fake URL" provided to server and client is the same. Thus it only works in the same script. However, it is hard to tell for sure because there is no documentation :/

[2020-07-29 19:19] raxod502 opened #304 "How to mock client, not server?"
I have a websocket _server_ which needs to be tested. I pass it a `WebSocket` object from `node-ws`, and it communicates with the client using that object. Normally the object is obtained from `express-ws` routing, but for testing it should be `WebSocket` from `mock-socket`. However, I cannot figure out how I am supposed to get any information out of the `WebSocket` object from `mock-socket` after

[2020-08-24 21:09] CorwinMoyne commented on #252
Any updates?

[2020-09-03 05:22] SunnyWind opened #305 "[BUG] function `WebSocket.send` won't send data to corresponding server"
![image](https://user-images.githubusercontent.com/4338219/92074266-38d68580-ede8-11ea-8f91-1cfe1a155282.png)

Even though the `delay` function is passed with the context `server`, the callback won't use it since the callback is an arrow function.

[2020-09-13 15:36] jwoodrow opened #307 "add callback to the websocket send function"
In the original websocket implementation there is an optional callback that can be passed on to the `WebSocket.prototype.send` function.

https://github.com/websockets/ws/blob/master/doc/ws.md#websocketsenddata-options-callback

I do not know how complicated it would be to add this to the current implementation of `mock-socket` but I'm willing to try my hand at it if someone could give me better i

[2020-09-15 15:08] sunsheeppoplar commented on #245
Would love to see this functionality, @thoov, please!

[2020-10-14 04:51] megancooper opened #308 "Don't stub out WebSocket by default"
Would it be possible to not stub out the native `WebSocket` by default? I am creating an application where I want to use both mock and real sockets. Is there a current work-around for this?

[2020-10-25 21:27] keremciu opened #309 "it would be nice to mention socket.dispatchEvent in docs"
I'm using `mock-socket` in new version of my game. I wanted to add some test coverage.

I have a test case that one user is already created a game then second user can join. Somehow I found some ugly solutions but I I couldn't find any example when I need to broadcast to players who joined the game.

I assumed `mockServer.emit` could be the solution but I couldn't say specifally, just send message

[2020-10-26 11:32] marcelotedeschi commented on #274
I can also confirm `9.0.3` is still not working when having query params on the url for `new Server`. When manually removing these, clients _with_ QPs are actually able to connect!

[2020-11-11 11:22] bondom opened #310 "url of created websocket is just 'ws://'"
I pass next url to create websocket client and server:  `ws://localhost/abs/abs`.
When checking created websocket instance I see that webSocket.url equals just `ws://`.

This problem is really annoying when you have 2 websocket instances: even if we pass 2 different urls to WebSocket constructor, both of them will be equal to `ws://`, as a result if I add `message` event listener using `addEventLi

[2021-04-13 15:41] HollPapazian commented on #298
I have same issue.

[2021-04-18 19:43] dfree commented on #309
@keremciu Thank you so much for these links! Your implementation helped me to understand the whole thing better! And huge shout out to @thoov as well making it even possible! All the best for you fellas! ;)

[2021-05-11 12:47] pyymenta opened #319 "Security vulnerability in url-parse dependency"
Hi,

This advisory published in `May 6th, 2021` recommends to update that lib to prevent a high severity security issue:

https://www.npmjs.com/advisories/1678

[2021-05-11 12:49] pyymenta commented on #319
related to https://github.com/thoov/mock-socket/pull/315

[2021-07-07 11:16] Mnigos commented on #299
I got that error now
`'SocketIO' only refers to a type, but is being used as a value here.`

[2021-08-18 09:00] HerrMuellerluedenscheid opened #322 "Is this repo still maintained?"
Dear @thoov ,

Thanks for providing this awesome package! I saw that despite its popularity there has not been much maintenance in recent months or years. I was wondering if it would be a good idea to reach out to the community, trying to get two or three people on board to take care of at least some basic maintenance, updating the npm package, checking MRs and so forth.

Repos that remain unmaint

[2021-08-19 06:07] thoov commented on #322
Hi @HerrMuellerluedenscheid,

Right now no. I would be totally happy if others wanted to join as a contributor and/or maintainer. It would be great to get the help. For anyone interested feel to reach out to me either on twitter or via this issue.

Good idea (will happily merge a PR if you add that section!). I will also pin this issue so hopefully others can see it.

[2021-09-14 17:29] orgads commented on #226
I'm using Typescript 4.4.3, and still has the same issue.

[2021-09-15 00:17] #226 closed

[2021-09-16 08:59] cvaldezinsure opened #327 "Using QueryParams in ws url doesn't work"
[code]

Original ticket here: https://github.com/romgain/jest-websocket-mock/issues/63#issuecomment-913474571

[2021-09-24 08:40] andreyfel commented on #226
Hi @thoov! Could you please cut a new release with this fix?

[2021-09-24 14:19] Atrue commented on #322
@thoov I'd like to join as a contributor. Our team is using this awesome package and we'd like to continue using it. There are already some PR's we want to be merged

[2021-09-26 03:27] thoov commented on #322
@Atrue thank you! and I will set you up as a contributor

[2021-09-27 09:24] Atrue commented on #322
@thoov Thank you! Should I ping you for publishing the package to npm or you can give the permissions there? (Bumping version https://github.com/thoov/mock-socket/pull/329)

[2021-09-27 18:08] thoov commented on #322
@Atrue I added you to NPM so you should now be able to publish

[2021-09-28 07:07] Atrue commented on #224
Fixed in https://github.com/thoov/mock-socket/pull/254

[2021-09-28 07:07] #224 closed

[2021-09-28 14:46] Atrue commented on #327
see https://github.com/thoov/mock-socket/pull/231#issuecomment-928985198

[2021-09-28 14:46] #327 closed

[2021-09-30 11:56] #295 closed

[2021-09-30 12:08] Pringels commented on #295
Thank you!

[2021-09-30 13:13] Atrue commented on #319
Fixed in 9.0.5

[2021-09-30 13:13] #319 closed

[2021-10-18 08:33] Atrue commented on #287
Fixed in `9.0.6`

[2021-11-03 15:22] VTarasich commented on #274
Prepared a PR with the fix that worked for me

https://github.com/thoov/mock-socket/pull/343

[2021-11-04 22:40] iot-resister commented on #176
@jpobley  I copied and pasted the answer and `onmessage` never runs... so I'm getting
[code]

I'm running this using reacts testing library
[code]

[2021-11-05 13:34] #176 closed

[2021-12-01 11:33] Ofrishani opened #345 "How to mock Apollo server to test graphql subscription"
Does it work with apollo server?
I'm trying to create mock server in cypress to graphql subscription,
but apollo use  ‘WebSocketLink’ instead of  ‘WebSocket’ so it did not work.
How can I use it with cypress and graphql?

[2021-12-01 21:33] shibbas commented on #308
I'm interested in this as well. Any suggestions?

[2021-12-06 09:07] Atrue commented on #345
According to their documentation, you can provide a `WebSocketImpl` class if you don't want to use native one https://www.apollographql.com/docs/react/api/link/apollo-link-ws/#options

[2021-12-07 18:07] bvedad opened #346 "Add `connectionDelay ` option to Server to delay opening connection"
There is no feature inside mock-socket to delay connection of WebSocket. Add this functionality to SocketIO and WebSocket.

[2022-01-13 06:33] #308 closed

[2022-01-13 06:43] Atrue commented on #308
Fixed in 9.1.0
Example: `new Server('ws://localhost:8080', { mock: false });`

[2022-01-13 15:41] ronyf commented on #252
is this ever going to be solved?

[2022-01-14 09:06] maxime1992 commented on #252
@ronyf

What do you expect from such an offensive question exactly?

Are you sponsoring this open source project in any active way that would even get close to a point where you'd be in a position to expect someone to spend time doing that for you or do you just feel like the universe and the repo owner owe you anything?

I'd say raise a pull request yourself but with your 3 contributions on Githu

[2022-01-16 13:16] ronyf commented on #299
[code]

[2022-01-25 14:11] #252 closed

[2022-03-21 15:41] alexandrzavalii opened #356 "Mock ws inside web worker"
Currently mocking web sockets within web worker is not possible.

Window and global object within web worker is not shared

[2022-03-29 11:44] alexandrzavalii commented on #356
I am running the component in storybook and I do not mock workers.
The only thing I need to be mocked is the websocket.

`Window.WebSocket = WebSocket;` will not mock the websocket inside worker.

So I wonder if there is a way around this problem.

I tried injecting WebSocket implementation from Window object to Web-Worker but with no luck

[2022-04-05 08:28] Atrue commented on #356
Anyway, it's not enough to mock the WebSocket, you need all the code inside the worker scope. So you need to have also a Server instance from this module and describe how it should work. So you can't manage it outside this worker. Just to note: when you create a Server instance the WebSocket is mocked automatically and is restored when you call `server.stop()`

You can try to inject some script us

[2022-04-19 12:15] ahtokca opened #358 "Authorization Bypass Through User-Controlled Key in NPM url-parse prior to 1.5.8."
Hi Thoov,

Would it be possible to upgrade to a version of url-parse which is not vulnerable (https://github.com/advisories/GHSA-rqff-837h-mm52)?
According to https://github.com/thoov/mock-socket/blob/master/yarn.lock url-parse@^1.5.2: is used by mock-socket.

thank you in advance

[2022-04-20 09:12] Atrue commented on #358
Upgraded in 9.1.3

[2022-04-20 09:12] #358 closed

[2022-05-01 13:58] piranna opened #359 "Delay execution of dispatched events"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `mock-socket@9.1.3` for the project I'm working on.

Events from server to client needs to have some delay to mimic network delay.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/d

[2022-05-07 10:56] SerkanSipahi opened #361 "Enable and disable MockSocket"
I would like to switch between a mocked socket and a real websocket during development in the frontend. For this reason I am looking for a way to switch the mock socket on and off at runtime.

Unfortunately, I did not find anything in the documentation on how to achieve this. Is it possible to achieve this with the Server.stop(...) method because internally this method takes something out of the `

[2022-05-07 11:05] SerkanSipahi commented on #361
I think I've found what I'm looking for. restoreWebsocket and mockWebsocket you can switch the mock on and off at runtime.

We should add this to the documentation (README.md). If that is ok, I would create a MR for this.

mockWebsocket (enable)
https://github.com/thoov/mock-socket/blob/54ba9ced41f424397552879d937da99aa56fface/src/server.js#L46-L51

restoreWebsocket (disable)
https://github.com/th

[2022-05-24 13:55] Atrue commented on #361
@SerkanSipahi Yep, it is. Go on, you can create a pull request for this

[2022-05-24 14:20] Atrue commented on #359
@piranna The dispatchEvent function is already called with the delay helper in the websocket. The server event can be called with delay manually in your code.
Can you please give more details of your problem, what the exact place you need the delay?

[2022-05-24 19:42] piranna commented on #359
Just the part of the server event. I don't want to provide a manual delay on my code, I want the listeners to be executed at least in the next event loop when they are dispatched, not in the same one. This allows me to register some events in the WebSocket, as I would do normally in real code.

[2022-05-25 06:33] Atrue commented on #359
Make sense, you can create a PR, but add the delay in the server's methods where it's needed, not in the dispatchEvent;
It would be very helpful if you also provide a test or example that demonstrates the problem

[2022-05-25 06:36] Atrue commented on #298
Fixed in `9.1.4`

[2022-05-25 06:45] piranna commented on #359
I think the server method is `send()`. Why `dispatchEvent()` is not the correct place? All the server-to-client events are going throught there, so it makes sense to me to add the "network transmission delay" there...

[2022-06-02 11:14] ritave commented on #242
I confirm that this is expected behaviour which the Mock WebSocket wrongly implements

[2022-06-02 12:58] Atrue commented on #242
If you have time you can create a PR for this

[2022-06-07 06:49] #242 closed

[2022-07-15 15:46] maxpontreau opened #364 "mock-socket configuration issue ?"
Hello,

I working on an Angular projet.
I'm trying to use a real websocket for my production code and the mock-socket for my cypress tests.

Here how I start the websocket in production (using sockjs-client & stompjs librairies)
![image](https://user-images.githubusercontent.com/7860222/179258481-acd630cf-485c-4c57-ab04-bab41047e7ce.png)

Now maybe I'm mistaken, but I was expected that with this c

[2022-07-19 16:28] jrfornes commented on #288
I fixed the _A mock server is already listening on this url_ issue with the following implementation:

[code]

And this is how I used this on a test.

[code]

[2022-07-25 08:53] Atrue commented on #288
According to the screen you have 2 WebSockets called for the first test: `/PM_Settings` and `/sockjs-node/...`, so it's why only the latest ws is assigned to `mockServer` and is cleared in the `afterEach` hook. Looks like the second ws is related to the hot reloading so you don't need to catch it.
It's better to create the mock server first to avoid handling everything else in the stub callback:
[

[2022-07-25 09:00] Atrue commented on #288
@jrfornes Looks like your mock server is running across multiple tests until the new instance of WebsocketServerMock is created. It's better to clear all mocks in `afterEach` hook, so it makes the code clear and avoids weird behavior. (Like If you forgot to create a new instance the previous mock server will catch the next WebSocket)

[2022-07-25 13:01] Atrue commented on #364
Is the native WebSocket get called? You can check it by running the cypress in server mode. I'm not sure how the sockjs and stompjs are working.
If so you can try mocking the WebSocket using the `cy.stub`:
[code]

[2022-10-19 17:53] mattoni opened #367 "Playwright example"
Any examples on how to get this set up with Playwright? Having a hard time finding any way to mock websockets there.

[2022-11-03 03:04] spacehash commented on #99
I'm also getting this error when I attempt multiple vitest cases, both concurrent and non-concurrent

[2022-11-08 07:35] Atrue commented on #367
Once you create a `Server` instance the `window.WebSocket` object has been mocked by default. Usually the best place for it is `beforeEach` hook.
If it's not working for you it's better to check the documentation of the library. https://playwright.dev/docs/mock#creating-mocks
For example you can try mocking it manually like this:
[code]
and create a server with `mock: false` option later:
[code]

[2022-11-08 20:28] mattoni commented on #367
Hey @Atrue thanks for the response. The issue I had was the WebSocket definition doesn't get passed through the addInitScript(), so the definition is never overwritten. Is there a workaround for that you're aware of? It looks like the stuff in the init script is completely isolated.

[2022-11-09 06:04] Atrue commented on #367
You need to try the examples in the documentation and make sure they works, if so you can try mocking the WebSocket the same way, you can even try it without this library, but there is no difference.
As mocking `getBattery` is the same as the mocking `WebSocket` it should work in both cases. But if the playwright has difference there you can also try using `Object.defineProperty`